# Variables de entorno para PRODUCCIÓN
# Copia este archivo como .env.production.local

# Supabase Production (Base de datos productiva)
REACT_APP_SUPABASE_URL=https://srghegdmgvtkijjydgwm.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNyZ2hlZ2RtZ3Z0a2lqanlkZ3dtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgzMzA1ODAsImV4cCI6MjA3MzkwNjU4MH0.63Tjg9SVY12RCADsH8VVOvH-Uz--ff9xsqLAKqdllOc

# Entorno actual
NODE_ENV=production
